<ion-view hide-nav-bar="true" view-title="" align-title="centre">
    <!--<ion-content style="background: url(img/login.jpg) center; background-size: cover;">-->
    <ion-content style=" background: url(img/HM_bg.png) center; background-size: cover;">


        <div class="padding" style="margin-top: 70%; text-align: center">
            <button ui-sref="ListSymptom"class="button mainBtn button-large clear ink">K<span style="text-transform: lowercase;">now</span> y<span style="text-transform: lowercase;">our</span> S<span style="text-transform: lowercase;">ymptoms</span></button>
            <button ui-sref="activity"  class="button button-large mainBtn clear  ink"> m<span style="text-transform: lowercase;">ap</span> y<span style="text-transform: lowercase;">our</span> s<span style="text-transform: lowercase;">ymptoms</span>  </button>
            <button ui-sref="reportMap" class="button button-large mainBtn clear ink">v<span style="text-transform: lowercase;">iew</span> h<span style="text-transform: lowercase;">ealth</span> m<span style="text-transform: lowercase;">ap</span></button>
        </div>

    </ion-content>
</ion-view>
